{% set namespace = 'App\\Controller\\Front\\' %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Cédric PUJOL">
        {% block meta %}{% endblock %}
        
        <title>{% block title %}Blog Post - Start Bootstrap Template{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ asset(skin~'/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ asset(skin~'/css/blog-post.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body id="page-top">
        {% include skin~'/_trans/menu.html.twig' %}
        
        <!-- Page Content -->
        <div class="container main-content">
            <div class="row">
                <!-- Post Content Column -->
                <div class="col-lg-8">
                {% block body %}{% endblock %}
                </div>
                {# Sidebar Widgets Column #}
                {{ render(controller(namespace~'WidgetController::sideBar')) }}
            </div>
        </div>
        
        {% include skin~'/_trans/footer.html.twig' %}
        
        <script src="{{ asset(skin~'/js/jquery.min.js') }}"></script>
        <script src="{{ asset(skin~'/bootstrap/js/bootstrap.bundle.min.js') }}'"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
